/*
 & The art of buttons
 &
 & Written by:
 & Eli Rousso
 & and
 & Nazmul Hassan
 */

.buttons {
	text-align: right;
}

.buttons a {
	display: block;
	width: 278px;
	height: 91px;
		
	float: right;
}

.buttons a span {
	display: none;
}

.buttons a.preview { background-image: url('images/preview.png'); }
.buttons a.download { background-image: url('images/download.png'); }
.buttons a:hover { background-position: 0px 182px; }
.buttons a:active { background-position: 0px 91px; }

.buttons a.download {
	margin-left: 20px;
}