/*
 & Dynamic Container
 */
.dynamic_wrapper {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	
	overflow: hidden;
}

/*
 & Dynamic Grid
 */
.dynamic_grid_1 {
	position: relative;
	background: #fbe847;
	background: #275fad;
	background: url('images/laser-bg.png');
	z-index: 10000;
}

.humblebee {
	z-index: 10001;
	position: relative;
}

.container {
	position: relative;
	z-index: 9999;
}

/*
 & Lasers
 */
.laser {
	width: 42px;
	height: 100%;
	margin: auto;
	position: absolute;

	top: 0px;
	left: 0px;
}

.laser-left {
	left: 0px;
	margin-left: -21px;
}

.laser-right {
	left: auto;
	right: 0px;
	margin-right: -21px;
}

.laser .nozzle {
	position: absolute;
	z-index: 1000;
}

.laser .beam {
	position: absolute;
	top: 0px;
	left: 12px;
}

.laser .particle {
	background-color: white;
}