/*
 & girlfriendnyc.com
 */

@import url('reset.css');
@import url('type.css');
@import url('grid.php?gutter_percentage=40&grid_columns=12&min_width=1080&max_width=1600'); /* hot linking is ok! */
@import url('slider.css');
@import url('lasers.css');
@import url('buttons.css');

body {
	background: url('images/bg.png') top left no-repeat;
	background-color: #ffeb16; /* supposed to be #ffeb16 */ /* used to be #fbe847 */
	
	text-shadow: none;
}

body.rubber {
	background: url('images/rubber.jpg') repeat;
}

.container {
	padding: 95px 75px;
	margin: auto;
}

.container .header h1 a {
	background: url('images/tiny-fluid-grid-logo.png');
	width: 419px;
	height: 71px;
	display: block;
}

.container .header h1 a span {
	display: none;
}

.container .header h2 {
	font-weight: normal;
	line-height: 60px;
	color: black;
}

.container .header h2 strong {
	font-weight: bold;
}

/*
 & The Header
 */
.container.the-header {
	padding-top: 60px;
	padding-bottom: 50px;
}

/*
 & Humblebee
 */
.humblebee {
	background: url('images/humblebee.png') 0px 0px;
	height: 400px;
	display: block;
}

.humblebee {
	padding-top: 7px;
}

/*
 & Slider
 */
.slider {
	margin-top: 45px;
}

/*
 & Body
 */
.body .container {
	padding-top: 37px;
	padding-bottom: 74px;
}

.body .container p {
	margin: 0px;
	line-height: 1.68em;
	font-size: 17px;
	letter-spacing: 0.4px;
	color: black;
	
	font-size: 14px;
	line-height: 24px;
}

.body .container p a {
	font-weight: bold;
	color: black;
	text-decoration: none;
	border-bottom: dotted 1px black;
}

.body .container p a:hover {
	border-bottom: solid 1px black;
}

/*
 & Footer
 */
.footer .container {
	font-family:'Courier New','Courier',monospace;
	font-size: 12px;
	color: black;
	
	padding-top: 0px;
	padding-bottom: 0px;
}

.footer .container p img {
	vertical-align: top;
}

.footer .container p a.girlfriend-logo {
	margin-left: 5px;
	padding-bottom: 5px;
	border-bottom: none !important;
	opacity: 1;
}

.footer .container p.text-right {
	text-align: right;
}

.footer .container p a {
	color: black;
	text-decoration: none;
	border-bottom: 1px dotted black;
}

.footer .container p a:hover {
	border-bottom: 1px solid black;
}

.footer .container p a:active {
	border-bottom: 1px solid black;
}

/*
 & Follow Us
 */
.follow-us {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 9999;
}

.follow-us:hover {
	opacity: 0.8;
}