




/*
     FILE ARCHIVED ON 16:40:38 Mar 6, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:14:20 May 31, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
body {
	font:14px/20px helvetica;
	text-shadow: 0px 1px 0px #FFFFFF;
	color: #333333;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }
h4 { font-size: 12px; }

p {
	text-align: left;
	margin: 0 0 20px 0;
}